<div padding class="heading" >
  <ion-fab vertical="top" horizontal="end" slot="fixed">
   
      <ion-icon (click)="dismiss()" color="dark" name="close"></ion-icon>
 
  </ion-fab>
  <hr>
</div>

<ion-content>
  <div class="content-section">

    <div class="content"*ngFor="let p of Products">
      <div class="image-section">
    

        <div class="image-container"> 
               
  <ion-fab  vertical="top" horizontal="end" slot="fixed">
    
      <ion-icon color="dark" name="heart" (click)="addWishlist(p)"></ion-icon>
    
  </ion-fab>
          <img src={{p.image}} width="100%" height="100%" alt="">
        </div>
      </div>
      <div class="product-details">
        <div class="firstItems">
          <div  class="product-name">
            <ion-label>{{p.name}}</ion-label>
          </div>
          <div class="product-price">
            <ion-label>{{p.price | currency: '&#82;'}}</ion-label>

          </div>

        </div>
        <div class="productcode">
          <ion-label>Product Code: {{p.productCode}}</ion-label>
        </div>
        <div  class="productDescription">
          <p>{{p.desc}}</p>
        </div>

        <div class="Productselection">
          <div class="size">
            <p  >size:</p>

            <div >
              <label  class="container">S
                <input type="checkbox" value="S" [(ngModel)]="productSize.small" (click)="selectedSize($event)">
                <span class="checkmark"></span>
              </label>
            </div>
            <div >
              <label class="container">M
                <input type="checkbox" value="M" [(ngModel)]="productSize.medium" (click)="selectedSize($event)">
                <span class="checkmark"></span>
              </label>
            </div>
            <div >
            <label class="container">L
              <input type="checkbox" value="L" [(ngModel)]="productSize.large" (click)="selectedSize($event)">
              <span class="checkmark"></span>
            </label>
            </div>

          </div>
          <div class="stars">
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star-outline" color="warning"></ion-icon>
          </div>
          <div class="quantity">
            <div  ><p>Qty:{{currentNumber}}</p></div>
            <div> <ion-icon name="remove-circle" color="danger" (click)="decrement(p)"></ion-icon>
              <ion-icon name="add-circle" color="success" (click)="increment(p)"></ion-icon></div>
           
          </div>
        </div>
        <div class="cartButton" >
          <ion-button color="primary" expand="block" (click)="addToCart(p)" (click)="toastPopover($event)" >add to cart</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
