<div padding class="heading" >
  <ion-fab vertical="top" horizontal="end" slot="fixed">
   
      <ion-icon (click)="dismiss()" color="dark" name="close"></ion-icon>
 
  </ion-fab>
  <hr>
</div>

<!-- width="100px" height="100px" -->
<ion-content>
  <div class="loader-container" *ngIf="loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- <div *ngIf="!myProduct" class="empty" >
    <ion-title >This product is not available  currently.</ion-title>
  </div> -->
  <div class="main-content" >
    <div class="cartTitle" >
      <ion-title>Cart</ion-title>
    </div>
    <div  *ngFor="let p of cartProduct; let j=index" class="ng-for-goes-here" >
      
  
    <div class="cart-item-section" >

      <div class="image-section" >
        <img src="{{p.prod.image}}"  alt="">

      </div>
      <div class="prodactDetails-section" >
        <div class="name" >
          <ion-label>{{ p.prod.product_name }}</ion-label>
        </div>
        <div class="price" >
          <ion-label>{{ p.prod.price | currency:'R':'symbol' }} </ion-label>
        </div>
        <div class="code">
          <ion-label>Code: {{ p.prod.productCode }}</ion-label>
        </div>
        <div class="Productselection">
          <div class="size">
            <p  >Size:{{ p.prod.size }} </p>

             <!-- <div >
              <label  class="container">S
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
            </div> 
             <div >
              <label class="container">M
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div> 
             <div >
            <label class="container">L
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            </div>  -->

          </div>
          <div class="quantity">
            <div  ><p no-padding >Qty:   {{ p.prod.quantity }}</p></div>
            <div> <ion-icon name="remove-circle" color="danger" (click)="decreaseCartItem(j)"></ion-icon>
              <ion-icon name="add-circle" color="success" (click)="increaseCartItem(j)"></ion-icon></div>
           
          </div>
        </div>


      </div>

      <div class="delete-section" >
        <ion-button class="item" color="medium"  fill="clear" (click)="removeCartItem(p.id)" slot="end"> 
          <ion-icon name="trash"></ion-icon>
         </ion-button>


      </div>





    </div>
    <p class="divided">
      <span></span>
      <span class="divider"></span>
      <span></span>
    </p>
  </div>

  <div class="delivery-method" >
    <ion-segment >
      <ion-segment-button value="python">
        <ion-label>Delevery</ion-label>
      </ion-segment-button>
      <ion-segment-button value="javascript">
        <ion-label>Collection</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  

  <!---->
  <!-- <button *ngFor="let button of [1,2,3,4]; let i = index" " (click)="placeOrder()"  
  [ngClass]="{'active':isClicked[i]}" (click)="isClicked[i] = (isClicked[i]? false :true )">collection</button> -->
    <div class="cartButton" >
      <ion-button color="primary" expand="block" (click)="dismiss()"   (click)="placeOrder()" >Place order {{ getTotal() | currency: '&#82;'}} </ion-button>
    </div>

  </div>

</ion-content>
