<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <div class="title">
          <div class="text" padding>Special Up to 75%</div>
          <div padding>
            <ion-button fill="outline" color="light" (click)="Allspecials()"> Shop Now </ion-button>
          </div>
        </div>
      </ion-title>
    </ion-toolbar> 
         <div class="navigation-bar">
          <nav>
            <ul class="menu">
              <li class="logo"><img src="../../assets/Group 60.png" alt="" (click)="openHome()" ></li>         
              <ion-button class="item" color="medium"  fill="clear" (click)="openHome()" slot="end">Home</ion-button>
              <ion-button class="item" color="medium"  fill="clear" (click)="openAboutUS()" slot="end">About Us</ion-button>             
              <ion-button class="item" color="medium"  fill="clear" (click)="createFaqs()" slot="end">FARQ's</ion-button>
              <ion-button class="item" color="medium"  fill="clear" slot="end" (click)="presentPopover($event)" > <ion-icon name="person"></ion-icon></ion-button>
                <ion-button class="item" color="medium"  fill="clear"  slot="end" (click)="createAddToCart()" > 
                 
                  <ion-icon  class="large-icon" name="cart"></ion-icon>   <ion-label  color="primary" class="cart-length">{{ cartItemCount | async }}</ion-label >
                 </ion-button>
                 <ion-button class="item" color="medium"  fill="clear"  (click)="createAddToWishList()" slot="end"> 
                  <ion-icon  class="large-icon" name="heart"></ion-icon> <ion-label  color="primary" class="wish-length">{{ wishItemCount | async }}</ion-label >
                 </ion-button>
                 
            </ul>
          </nav>
        </div>
   
  </ion-header>  
  <ion-content></ion-content>
 <ion-router-outlet></ion-router-outlet>
</ion-app>
