<div class="loader-container" *ngIf="loader">
  <div class="loader">Loading...</div>
</div>

<ion-content>
    <div class="content-container">
          <!-- view by categories section -->
        <div class="categorySection animated fadeInDown 2s "  >
          <div class=" categoryList">
            <div class="cards-container" >
             
              <div  class="products-section" *ngFor="let event of Products">
              <div *ngIf="Products" class="cards ">
                <div class="percent-off" >
                  <p>-80%</p>

                </div>
            
                <img class="animated fadeInDown 2s" src="{{event.image}}" width="222" height="268" (click)=" createViewProduct(event)" alt="">
                <ion-label class="price">R &nbsp; {{event.price}} &nbsp; <span class="span-tsrike" >R &nbsp; 400</span> </ion-label>
                <ion-label class="name"> {{event.name}} </ion-label>
                <div class="stars">
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star" color="warning"></ion-icon>
                  <ion-icon name="star-half" color="warning"></ion-icon>
                  <ion-icon name="star-outline" color="warning"></ion-icon>
                </div>
                <div class="icon-wish" >
                  <ion-icon name="heart" ></ion-icon>
                </div>
                
              </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="IDofYourDivYouWantToGoTo" class="contactUs-section"> 
        <div>
          <ion-title>Contact Us</ion-title>
        </div>
        <div class="contactus">
          <div class="contactUs-labels">
            <div *ngFor="let my of Info">
              <ion-label class="heading">Call Us</ion-label>
              <div *ngFor = "let admin of Info" class="callUs-labels">
                <div>
                  <span>
                    <ion-icon padding name="call"></ion-icon>
                  </span>
                  <span>
                    <ion-label>{{admin.phoneNumber}} </ion-label>
                  </span>
                </div>
                <div>
                  <span>
                    <ion-icon padding name="mail"></ion-icon>
                  </span>
                  <span>
                    <ion-label>{{admin.email}}</ion-label>
                  </span>
    
                </div>
                <div>
                  <span>
                    <ion-icon padding name="pin"></ion-icon>
                  </span>
                  <span>
                    <ion-label>{{admin.address}}</ion-label>
                  </span>
                </div>
              </div>
            </div>
            <div>
              <ion-label class="heading">Leave Us a Message</ion-label>
              <div class="messageInputs">
                      <ion-item color="light">
                        <ion-input type="text"   [(ngModel)]="message.fullname"  placeholder="fullnames" required></ion-input> 
                      </ion-item>
                      <ion-item>
                        <ion-input type="email"   [(ngModel)]="message.email"  placeholder="Email address" required>
                        </ion-input>
                      </ion-item>
                      <div>
                        <ion-list>
                          <ion-item>
                            <ion-textarea name=""  [(ngModel)]="message.message" id="" placeholder="message" required></ion-textarea>
                          </ion-item>
                        </ion-list>
                      </div>
                      <div>
                        <ion-button  (click)="addMessage()">Submit</ion-button>
                      </div>
                   
                  </div>
                  <div>
                  
              
              </div>
            </div>
          </div>
        </div>
        <ion-toolbar color="primary">
          <div class="footer">
            <img src="../../assets/Group 60.png" width="100px" height="50px" alt="">
            <div>
              &copy; Pitseng Arts &amp; Crafts 2019
            </div>
          </div>
        </ion-toolbar>
      </div> 
</ion-content>
 <!-- <strike>R&nbsp; 400</strike> -->