
  
  ion-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: center;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  
  
  .text{
    padding-top: 8px;
  }
  .title > div {
    padding-left: 18px;
    text-align: center;
  
  }
  
  ion-content{
      // top: 20%;
    //  border: solid black;
  }
  .content-container {
    position: relative;
    padding-top: 200px;
      // height: 100%;
      width: 75%;
      // border: solid blue;
      margin: 0 auto;
      // margin-bottom: 22%;
    }
  .categorySection{
      // border: solid red;
      // height: 100%;
      // margin-bottom: 40px;
    }
    .categoryList{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
  
    }
    
  .cards-section {
      width: 90%;
      // border: solid rgb(3, 163, 255);
      height: 100%;
      // display: flex;
      margin: 0 auto;
    }
    .specials-title {
      text-align: left;
      // border-bottom: solid black;
      border-bottom: 0.5px solid #7070709d;
    }
    .cards-container {
      display: flex;
      margin: 0 auto;
      margin-top: 16px;
      // border: solid rgb(6, 238, 199);
      width: 100%;
      // height: 50%;
      justify-content: space-evenly;
      justify-content: space-around;
      justify-content: center;
      flex-wrap: wrap;
    }
    .cards {
      width: 245px;
      height: 367px;
      // border:  solid rgb(10, 66, 250);
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: 3%;
      border-radius: 10px;
      border: 0.5px solid #70707042;
      // max-width: 200px;
      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

      }
     
     

    }
    .cards > img {
      // width: 222px;
      // height: 268px;
      border-radius: 6px;
      border: 0.5px solid #7070703a;
      margin: 0 auto;
      margin-top: 5px;
    }
    .cards > ion-label {
      text-align: center;
    }
    .cards > .price {
      font-weight: bold;
      color: black;
      font-size: 20px;
    }
    .name {
      font-size: 15px;
      font-weight: bold;
      color: #707070;
    }
    .stars {
      text-align: center;
      font-size: 1.5rem;
    }
    .wishListIcon{
      // position: relative;
      text-align: right;
      margin-right: 16px;
      bottom: 200%;
      font-size: xx-large;
      // padding-bottom: 500px;
   
      }
      .products-section{
        // border: solid lightcoral;
        display: flex;
        margin: auto;
        justify-content: center;
        justify-content: space-around;
        margin-bottom: 3%;
        
      }
      .span-tsrike{
        text-decoration: line-through;
      font-size: 15px;
      color: #707070;
      font-style: italic;
      font-weight: lighter;
      
      }
      .icon-wish{
        position: relative;
       margin-left: 200px;
        font-size: x-large;
        color: #777777;
      bottom: 8px;
    
      }
      .percent-off{
        position: absolute;
        z-index: 99999999999999999;
        margin-left: 16px;
        margin-top: 16px;
        color: red;
      }

      
      .contactUs-section{
        width: 100%;
        background:linear-gradient(0deg, rgba(14, 13, 13, 0.836), rgba(0, 0, 0, 0.836)), url("../../../assets/photo-1493106641515-6b5631de4bb9.png");
        background-repeat: no-repeat;
        background-size: cover;
        // border: solid red;
   
     }
     .contactus{
          width: 95%;
        //  height: 20%;
         padding-top: 20px;
         margin: 0 auto;
         display: flex;
         justify-content: center;
         justify-content: space-between;
        //  border: solid green;
   
     }
    
     .contactUs-section > div > ion-title {
         // padding-top: 200px;
         // padding-bottom: 50px;
         color: #4E4E4E;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         font-weight: 200;
         font-size: 35px;
     }
     .contactUs-labels{
         display: flex;
         flex-direction: row;
         justify-content: center;
         justify-content: space-between;
         width: 100%;
         padding-top: 20px;
         color: white;
         margin: 0 auto;
         // border: solid blueviolet;
     }
     .contactUs-labels > div{
       width: 50%;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         margin-left: 150px;
         // justify-content: space-around;
         // border: solid orange;
     }
   
     .contactus > div {
   
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
     .messageInputs{
         padding-top: 25px;
         
     }
     span > li > ion-label {
       cursor: context-menu;
       &:hover{
         text-decoration: l;
       }
     }
   
         .callUs-labels {
          width:100%;
          padding-top: 15px;
            margin: 0 auto;
            // border: solid rgb(38, 0, 255);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          
            
         }
         .callUs-labels > div {
             // margin-bottom: 30px; 
             // margin: 0 auto;
             padding-bottom: 8px;
             // display: flex;
             // flex-direction: column;
             // border: solid violet;
             width: 100%;
             margin: 0 auto;
         }
         
         .callUs-labels > div > span > ion-label {
           font-weight: 100;
           // color: red;
   
         }
         .callUs-labels > div > span > li >  ion-label {
           font-weight: 100;
           // color: red;
   
         }
         .callUs-labels > div > span > ion-icon{
             margin-right: 30px;
         }
         ion-label, ion-title {
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             
         }
         .heading{
             font-weight: 600;
             font-size: 1rem;
          //  margin-left: 100px;
           // text-align: center;
            
         }
         .address{
          margin-left: 50px;
        }
         .heading1{
           font-weight: 600;
           font-size: 1rem;
           // text-align: center;
        //  margin-left: 101px;
          
       }
       .heading2{
         font-weight: 600;
         font-size: 1rem;
      //  margin-left: 21px;
       // text-align: center;
        
     }
     .social-section{
       width: 80%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
   }
   .social{
     display: flex;
     flex-direction: row;
     width: 50%;
     justify-content: space-between;
     padding-top:16px;
   }
   .social > div{
     display: flex;
     flex-direction: row;
   }
   .social-section > div > ion-title{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: 200;
       color: #707070;
       font-size: 20px;
   
   }
         .title > div > img {
             left: 0%;
             text-align: left;
         }
         .footer{
             font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
             font-weight: lighter;
             letter-spacing: 3px;
             text-align: center;
             display: flex;
             flex-direction: row;
             justify-content: center;
             margin: auto;
         }
         .footer > div  {
             margin: 0 auto;
             margin-top: 10px;
           
         }
         .footer  > img {
           margin-left: 10px;
         
         }
         .description-text {
          height: 120px;
          width: 60%;
          margin: auto;
          // border:  solid red;
        }


        @media screen and (min-width:100px) and (max-width:599px){
          .content-container {
            width: 95%;
            // border: solid red;
            padding-top: 150px;
  
          }
          .description-text{
            width: 100%;
          }
          .description-text > div{
            width: 100%;
            // border: solid green;
          }
          .description-text > div > ion-title{
            width: 100%;
            text-align: center;
          }
          .description-text > div > p{
            text-align: center;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 0px;
  
          }
          .content-container {
            width: 95%;
            // border: solid red;
            padding-top: 150px;
  
          }
          .contactus {
            width: 100%;
            padding-top: 20px;
            padding-left: 1px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            // justify-content: space-between;
            // border: solid blueviolet;
          }
        
          .contactUs-section > div > ion-title {
            color: #4e4e4e;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 200;
            font-size: 35px;
          }
          .contactUs-labels {
            display: flex;
            flex-direction: row;
            // justify-content: center;
            justify-content: space-around;
            justify-content: space-evenly;
            width: 100%;
            padding-top: 20px;
            color: white;
            margin: 0 auto;
            // border: solid red;
          }
          .contactUs-labels > div {
            flex: 1;
            width: 20%;
            margin: 0 auto;
            display: flex;
            text-align: left;
            flex-direction: column;
            // border: solid orange; 
            text-align: center;
            align-content: center;
            // justify-content: space-evenly;
            
          }
          .callUs-labels{
           
          }
        }
  
        @media screen and (min-width:600px) and (max-width:899px){
          .social-section{
            align-items: center;
          }
          .description-text{
            width: 100%;
            
            p{
              text-align: center;
            }
          }
          .specials{
            // border: solid blue;
          }
          .content-container {
            width: 95%;
            // border: solid red;
            padding-top: 150px;
  
          }
          .contactus {
            width: 100%;
            padding-top: 20px;
            padding-left: 1px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            // justify-content: space-between;
            // border: solid blueviolet;
          }
        
          .contactUs-section > div > ion-title {
            color: #4e4e4e;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 200;
            font-size: 35px;
          }
          .contactUs-labels {
            display: flex;
            flex-direction: row;
            // justify-content: center;
            justify-content: space-around;
            justify-content: space-evenly;
            width: 100%;
            padding-top: 20px;
            color: white;
            margin: 0 auto;
            // border: solid red;
          }
          .contactUs-labels > div {
            flex: 1;
            width: 20%;
            margin: 0 auto;
            display: flex;
            text-align: left;
            flex-direction: column;
            // border: solid orange; 
            text-align: center;
            align-content: center;
            // justify-content: space-evenly;
            
          }
          .callUs-labels{
           
          }
    
        }
  
        @media screen and (min-width:900px) and (max-width:1080px){
          .content-container{
            width: 90%;
          }
          .description-text{
            width: 100%;
            p{
              text-align: center;
            }
          }
          .contactus {
            width: 100%;
            padding-top: 20px;
            padding-left: 1px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            // justify-content: space-between;
            // border: solid blueviolet;
          }
        
          .contactUs-section > div > ion-title {
            color: #4e4e4e;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 200;
            font-size: 35px;
          }
          .contactUs-labels {
            display: flex;
            flex-direction: row;
            // justify-content: center;
            justify-content: space-around;
            justify-content: space-evenly;
            width: 100%;
            padding-top: 20px;
            color: white;
            margin: 0 auto;
            // border: solid red;
          }
          .contactUs-labels > div {
            flex: 1;
            width: 20%;
            margin: 0 auto;
            display: flex;
            text-align: left;
            flex-direction: column;
            // border: solid orange; 
            text-align: center;
            align-content: center;
            // justify-content: space-evenly;
            
          }
          .callUs-labels{
           
          }
        }

       