
<ion-content scroll="true">
  <div class="loader-container" *ngIf="loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- <ion-toolbar>
    <div >
      <ion-button id="icon" routerLink="/home">
       <ion-icon name="home" ></ion-icon> Home
      </ion-button>

    <div>
      <ion-button>specials</ion-button>
      <ion-button>product details</ion-button>
      <ion-button>category name</ion-button>
      

    </div>
  </ion-toolbar> -->
    <div class="content-container">
      <!-- starts landing page content -->
      <div class="content-section">
        <div class="mainContent-cover">
          <div class="landing" >
            <div class="category-Container">
              <div class="First-Category-Block" (click)="categorylist('Deco')">
                <img  src="{{Homescreen.deco}}" alt="">
                <ion-label class="category-label"><span>Deco</span></ion-label> <br>
                <ion-label class="category-button" (click)="categorylist('')"><span>SHOP NOW <ion-icon
                      name="arrow-forward"></ion-icon></span>
                </ion-label>

              </div>

              <div class="Second-Category-Block" (click)="categorylist('Pottery')">
                <div class="firstSecond-block">
                  <!-- <img src="../../assets/Pottery.jpg" alt=""> -->
                  <img  src="{{Homescreen.pottery}}" alt="">
                  <ion-label class="category-label"><span>Pottery</span></ion-label> <br>
                  <ion-label class="category-button" (click)="categorylist('')"><span>SHOP NOW <ion-icon
                        name="arrow-forward"></ion-icon></span>
                  </ion-label>
                </div>
                <div class="container-bottom2">
                  <div class="seconSecond-block" (click)="categorylist('Lamps')" >
                    <img  src="{{Homescreen.lamps}}" alt="">
                    <ion-label class="category-label"><span>Lamps</span></ion-label> <br>
                    <ion-label class="category-button" (click)="categorylist('')"><span>SHOP NOW <ion-icon
                          name="arrow-forward"></ion-icon></span>
                    </ion-label>

                  </div>
                  <div class="thirdSecond-block" (click)="categorylist('Vase')">
                    <img  src="{{Homescreen.vase}}" alt="">
                    <ion-label class="category-label"><span>Vases</span></ion-label> <br>
                    <ion-label class="category-button" (click)="categorylist('')"><span>SHOP NOW <ion-icon
                          name="arrow-forward"></ion-icon></span>
                    </ion-label>
                  </div>
                </div>
              </div>


            </div>
            <div class="description-text">
              <div  class="save-heading ion-text-wrap" >
                <ion-title class="ion-text-wrap" >With us you get to save!</ion-title>
              </div>
              <div>
                <p > With us every day is a special day for saving! you can never go wrong when you scroll down a litle bit and see what we have instore for you today.
                  Shop smart and get to save with  Pitseng
                  the only Arts and Crafts store that will never let you down.</p>
              </div>
            </div>
            <div class="cards-section" >
              <div>
                <ion-title padding class="specials-title">Specials</ion-title>
              </div>
              <div class="cards-container"  >
      
                      <!-- Fetching all products on special -->
                <div   class="products-section" *ngFor="let event of proSales; let i=index;" >
                <div class="cards"  [ngClass]="{'active': active==i}"  >
                  <div class="percent-off" >
                    <p>{{event.obj.percentage}} % off</p>
  
                  </div>
                  <div class="image-con">
                           <img class="animated fadeInDown 2s" src="{{event.obj.image}}" (click)="allSpecials(event)" alt="">
                  </div>
           
                   <ion-label class="name">  {{event.obj.name}} </ion-label>
                  <ion-label class="price"> R {{event.obj.totalPrice}} <span class="span-tsrike" >{{event.obj.price}}</span>  </ion-label>
                 
                  <div class="stars">
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star-outline" color="warning"></ion-icon>
                  </div>
                  <div class="icon-wish" (click)="addToWishlist(event.obj, event.id)"  [ngClass]="{'active': active==i}" >
                    <!-- <ion-icon name="heart"  ></ion-icon> -->
                  </div>
               
                </div>
              </div>
              </div>

              <div class="special-section" (click)="specialsAlso()">
                <div *ngFor="let me of SpecialScrin" >
                <div class="specials">
                  <img src="{{me.obj.image}}" height="200px"  >
                  <ion-title>Up to 50% off </ion-title>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
    


   <div id="IDofYourDivYouWantToGoTo" class="contactUs-section">  
    <div>
      <ion-title></ion-title>
    </div>
    <div class="contactus">
      <div class="contactUs-labels">
        <div >
           <ion-label class="heading2">Find Us</ion-label>
          <div style="display: flex; flex-direction: column;" *ngFor = "let admin of Info" class="callUs-labels">
            <div>
              <span>
                <ion-icon padding name="call"></ion-icon>
              </span>
              <span>
                <ion-label>{{admin.phoneNumber}} </ion-label>
              </span>
            </div> 
            <div>
              <span>
                <ion-icon padding name="mail"></ion-icon>
              </span>
              <span>
                <ion-label class="ion-text-wrap">{{admin.email}}</ion-label>
              </span>
              <div class="social-section" >

                <div class="social" >
                  <div> <img padding src=".././../assets/icons8_facebook_480px.png" width="30" height="30" > </div>
                  <!-- <div> <img padding src="../../assets/icons8_twitter_circled_60px_2.png" width="30" height="30" ></div> -->
  
  
                </div>
              </div>

            </div>
          </div>
        </div>
        <div >
          <ion-label class="heading1">Visit Us</ion-label>
          <div *ngFor = "let admin of Info" class="callUs-labels">
    
            <div>
              <span>
                <ion-icon padding name="pin"></ion-icon>
              </span>
              <span>
                <ion-label class=" ion-text-wrap" >{{admin.address}}</ion-label>
              </span> <br>
              <span>
                <ion-label class="address ion-text-wrap" >{{admin.streetAddress}}</ion-label>
              </span><br> 
              <span>
                <ion-label class=" address ion-text-wrap" >{{admin.city}}</ion-label>
              </span><br>
              <span>
                <ion-label class="address ion-text-wrap" >{{admin.code}}</ion-label>
              </span>
            </div>
          </div>
        </div>
        <div >
          <ion-label class="heading">Quick Links </ion-label>
          <div *ngFor = "let admin of Info" class="callUs-labels">
        
    
            <div>
     
              <span (click)="createFaqs()">
                <li>
                    <ion-label>FAQ's</ion-label>
              </li>
            
              </span>
              <span (click)="TermsAndConditions()" >
                <li>   
                   <ion-label>Terms & Conditions</ion-label>
                </li>
               
              </span> 
              <span (click)=" PrivacyPolicy()" >
                <li>
                   <ion-label>Privacy Policy</ion-label>
                </li>
               
              </span>
            </div>
          </div>
        </div>

        
      </div>
    </div>
    <ion-toolbar color="primary">
      <div class="footer">
        <img src="../../assets/Group 60.png" width="100px" height="50px" alt="">
        <div>
          &copy; Pitseng Arts &amp; Crafts 2019
        </div>
      </div>
    </ion-toolbar>
  </div>
  
</ion-content>
